@import '../../../_common/styles/common.scss';

#banner{
 width: 728px;
 height: 90px;
 
}



#olg{
	
	width: 117px;
	height: 69px;
	@include pos(-2, 26);
	
}



#legalBtn{	
	@include pos(650, 0);	
	width: 80px;

}


#bars{
	@include pos(0, -200);
	display: flex;
	position: relative;
	z-index: 0;
	.bar{

		padding: 0;
		margin: 0;
	}
	.bar_0{
		width: 182px !important;
	}
}

.logos{
	z-index: 1;
}

.hero{
	@include pos(12, 82);
	width: 278px;
	height: 104px;
	overflow: hidden;
	// clip-path: inset(10px 20px 30px 40px);
	img{
		// transform: scale(1)
	}

	// opacity: .3
}