<div id="legalBtn"></div>
<div id="legalContent">
Individuals must be 18 years of age or older to participate in in-store sports betting with PROLINE. Individuals must be a resident of Ontario. Terms and Conditions apply.



        </div>
        